<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= dir %>/asset/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%= dir %>/asset/css/init.css">
    <link rel="stylesheet" href="<%= dir %>/asset/css/style.css">
    <link rel="stylesheet" href="<%= dir %>/asset/css/mobile.css">
    <link rel="stylesheet" href="<%= dir %>/asset/css/animation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title><%=  title %> </title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="section-left">
                <div class="logo">
                    <span>Otaku</span><span>Read</span>
                </div>
                <div class="navigation">
                    <ul class="ul-home-list">
                        <li class="li-home-list dropdown-act">
                            <a href="/">Home</a>
                            <div class="dropdown">Home</div>
                        </li>
                        <li  class="li-home-list dropdown-act">
                            <a href="/view/favorite">Favorite</a>
                            <div class="dropdown">Favorite</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-right">
                <form action="/search" method="get">
                    <input type="text" name="search" id="search" class="input-text-home" placeholder="Cari Novelmu Disini">
                </form>
                <div class="login dropdown-act">
                     <div class="img-thumb">
                        <img src="<%= dir %>/asset/img/nonim.png" alt="">
                    </div>
                    <div class="dropdown">Login</div>
                </div>
            </div>
        </div>
    </nav>
    <%- body %>
    <footer>
        <div class="wrapper-footer">
            <div class="section-left">
                <form action="/search" method="get">
                    <input type="text" name="search" id="search" class="input-text-home" placeholder="Cari Novelmu Disini">
                </form>
                <div class="logo">
                    <span>Otaku</span><span>Read</span>
                </div>
                <div class="disclaimer">
                    <h3>Disclaimer:</h3>
                    <p>OtakuRead adalah sebuah FansTranslation light novel di indonesia</p>
                </div>
            </div>
            <div class="section-right">
                <div class="footer-genre">
                    <h3>Genre:</h3>
                    <ul>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Slice Of Life</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Comedy</a></li>
                    </ul>
                </div>
                <div class="footer-category">
                    <h3>Kategori:</h3>
                    <ul>
                        <li><a href="#">Hottest</a></li>
                        <li><a href="#">Latest</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>